/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131c29; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d2a3e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b5454; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2b5454;
  color: rgba(225,235,245,.7);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-app{
  margin-left: 4rem;
  padding: 1rem;
}

.general-container {
  height: 96vh;
  background: #131c29;
  padding: 0 1rem 0 1rem; 
}

.movies-list-container{
  height: 80vh;
  overflow-y: auto;
}

.movies-list-item{
  cursor: pointer;
}

.movies-list-item:hover{
  background: #1d2a3e;
}


.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
}